node_modules
/raect-todo/raect-todo/bin/Debug/net5.0
/raect-todo/raect-todo/obj/Debug/net5.0/staticwebassets
/raect-todo/raect-todo/obj/Debug/net5.0/ref
/raect-todo/raect-todo/obj/*
/raect-todo\.vs\*
/raect-todo/.vs/raect-todo/config
/raect-todo/obj
/raect-todo/ReactTodo.Bll/bin/Debug/net5.0
/raect-todo/ReactTodo.Bll/obj
/raect-todo/ReactTodo.Data/bin/Debug/net5.0
/raect-todo/ReactTodo.Data/obj
/raect-todo/.vs/raect-todo/DesignTimeBuild
raect-todo/.vs/raect-todo/v16/.suo
raect-todo/.vs/raect-todo/v16/TestStore/0/000.testlog
raect-todo/.vs/raect-todo/v16/TestStore/0/testlog.manifest
.vscode/launch.json
.vscode
raect-todo/.vs/raect-todo/v16/.suo
/raect-todo/.vs/raect-todo/v16/lut/0/0
/raect-todo/.vs/raect-todo/v16/lut/0/1
/raect-todo/.vs/raect-todo/v16/lut
/raect-todo/ReactTodo.Tests/bin/Debug/net5.0
/raect-todo/ReactTodo.Tests/obj/Debug/net5.0
/raect-todo/ReactTodo.Tests/obj
/raect-todo/RectTodo.Test/obj
/raect-todo/.vs/raect-todo/v16/TestStore/OutputMessages
